asgiref==3.7.2
certifi==2023.7.22
distlib==0.3.7
Django==4.2.4
django-jazzmin==2.6.0
django-widget-tweaks==1.5.0
filelock==3.12.2
gunicorn==21.2.0
mysqlclient==2.2.0
packaging==23.2
Pillow==10.0.0
pipenv==2023.7.23
platformdirs==3.10.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.3
virtualenv-clone==0.5.7
whitenoise==6.6.0
